<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark button is-primary" [routerLink]="['/']">Home</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="!authService.isUserAuthenticated()"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark button is-primary" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isUserAuthenticated()"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark button is-primary" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.isUserAuthenticated()">
            <p class="welcome">
              Welcome {{authService.getCurrentUserName()}}
            </p>
          </li>
          <li class="nav-item" *ngIf="authService.isUserAuthenticated()"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark button is-primary" [routerLink]="['/']" (click)="authService.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
