/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 0.5em;
}

.card {
  height: max-content;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}

textarea.ng-invalid.ng-touched {
  border: red 2px solid;
}

body.modal-open {
  padding-right: 0 !important;
}
